
.banner1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 425px;
    overflow: hidden;
}
.left{
    width: 607px;
    background-color: #E9E9E9;
    padding: 7rem;
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left p:nth-child(1){
    font-weight: 700;
    font-size: 24px;
}
.left p:nth-child(2){
    font-weight: 200;
}
.left button{
    width: 107px;
    padding: 5px;
    background-color: black;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .15s;
        font-size: 15px;


}
.left button:hover{
    color: black;
    background-color: #fff; 
       border: 2px solid black;

}
.right{
    width: 541px;
    height: 358px;
    overflow: hidden;
}
.banners{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-card p:nth-child(2){
font-weight: 600;
}
.banner-card p:nth-child(3){
font-weight: 800;
}
.banner-card{
    border: 2px solid gray;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 1rem 23px;
}
.banner-card img{
    width: 163px;
}
